<% layout( 'layout' ) -%>

<h1>Consumer Test Page</h1>

<div class="consumer">
  <ul id="messages"></ul> -->
  <form action="">
    <label for="userName">Username</label>
    <input id="userName" autocomplete="off" autofocus required/><br />
    <input id="m" class="message" autocomplete="off" placeholder="Enter Message Here" /><button>Send</button>
  </form>

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>
  var socket = io();
  $('form').submit(function(){
    let supportRequestMessage = $('#m').val();

    socket.emit('supportRequest', {

      userContext: {
        userName: $('#userName').val(),
        channel: "web",
        userType: "consumer"
      },

      text: supportRequestMessage
    });
    $('#m').val('');
    $('#messages').append($('<li>').text(`You say: ${supportRequestMessage}`));
    return false;
  });

  socket.on('supportResponse', function(data) {
    console.log('response received');
    $('#messages').append($('<li>').text(JSON.stringify(data.text)));
  });
  

  /*socket.on('tone', function(data) {
    console.log('tone received');
    $('#current-convo').append($('<li>').text(JSON.stringify(data.text)));
    // $('#messages').append($('<li>').text(JSON.stringify(data.result)));
  });
  socket.on('tones', function(tones) {
    console.log('tones received');
    for(var i=0; i < tones.length; i++) {
      var tone = tones[i];
      $('#current-convo').append($('<li>').text(JSON.stringify(tone.text)));
      // $('#messages').append($('<li>').text(JSON.stringify(tone.result)));
    }
  });*/
</script>
