<% layout( 'layout' ) -%>

<!-- <ul id="messages"></ul> -->
<!-- <form action="">
  <input id="m" autocomplete="off" /><button>Send</button>
</form> -->

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <img src="/imgs/sensayLogo.png" id="sensay-logo" height="40px">
  </div>
</div>

<div class="container-fluid" id="main-container">
  <div class="container col-sm-9" id="convo-container">
    <div class="container col-sm-12">
      <header class="section-header">
        <h3 class="section-title">Current Conversation</h4>
      </header>
    </div>
    <div class="container col-sm-12">
      <div class="container col-sm-3"><p>Sentiment</p></div>
      <div class="container col-sm-9"><p>Transcript</p></div>
    </div>
    <ul class="container col-sm-12" id="current-convo">

    </ul>
    <div class="container col-sm-12">
      <div class="container col-sm-10">
        <textarea rows="3"></textarea>
      </div>
      <div class="container col-sm-2">
        <input type="submit" value="Send">
      </div>
    </div>
  </div>
  <div class="container col-sm-3">
    <div class="container col-sm-12" id="help-btn">
      <p>
        TEXT MANAGER FOR HELP
      </p>
    </div>
    <div class="container col-sm-12" id="overall-mood">
      <header class="section-header">
        <h4 class="section-title center-title">Conversation Mood</h4>
      </header>
      <div class="container col-sm-12" id="overall-mood-img">
        <p>N/A</p>
      </div>
      <div class="container col-sm-12 center-title" id="appease-btn">
        <p>
          APPEASE CUSTOMER
        </p>
      </div>
    </div>

    <div class="container col-sm-12" id="sponsors">
      <img src="/imgs/poweredby.png">
    </div>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>
  var socket = io();
  // $('form').submit(function(){
  //   socket.emit('chat message', $('#m').val());
  //   $('#m').val('');
  //   return false;
  // });
  // socket.on('chat message', function(msg) {
  //   console.log('chat received');
  //   $('#messages').append($('<li>').text(msg));
  // });
  socket.on('tone', function(data) {
    console.log('tone received');
    $('#current-convo').append($('<li>').text(data.userName + ":" + JSON.stringify(data.text) + "(" + data.channel + ")"));
    // $('#messages').append($('<li>').text(JSON.stringify(data.result)));
  });
  socket.on('tones', function(tones) {
    console.log('tones received');
    for(var i=0; i < tones.length; i++) {
      var tone = tones[i];
      $('#current-convo').prepend($('<li>').text(tone.userName + ":" + JSON.stringify(tone.text)));
      // $('#messages').append($('<li>').text(JSON.stringify(tone.result)));
    }
  });
</script>
