<% layout( 'layout' ) -%>

<!-- <ul id="messages"></ul> -->
<!-- <form action="">
  <input id="m" autocomplete="off" /><button>Send</button>
</form> -->

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <img src="/imgs/sensayLogo.png" id="sensay-logo" height="40px">
  </div>
</div>

<div class="container-fluid" id="main-container">
  <div class="container col-sm-9" id="convo-container">
    <div class="container col-sm-12" id="convo-title">
      <header class="section-header">
        <h2 class="section-title">Current Conversation</h2>
      </header>
    </div>
    <div class="container col-sm-12">
    </div>
    <ul class="container col-sm-12" id="current-convo">

    </ul>
    <form>
      <div class="container col-sm-12" id="replyBox">
        <div class="container col-sm-10">
          <textarea autofocus rows="4" id="supportComment" placeholder="Enter Message Here..."></textarea>
        </div>
        <div class="container col-sm-2">
          <button id="submitComment">Send</button>
        </div>
      </div>
    </form>
  </div>
  <div class="container col-sm-3">
    <div class="container col-sm-12" id="help-btn">
      <p>
        TEXT MANAGER FOR HELP
      </p>
    </div>
    <div class="container col-sm-12" id="overall-mood">
      <header class="section-header">
        <h4 class="section-title center-title">Conversation Mood</h4>
      </header>
      <div class="container col-sm-12" id="overall-mood-img">
        <p>N/A</p>
      </div>
      <div class="container col-sm-12 center-title" id="appease-btn">
        <p>
          APPEASE CUSTOMER
        </p>
      </div>
    </div>

    <div class="container col-sm-12" id="sponsors">
      <img src="/imgs/poweredby.png">
    </div>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

<script>
  var socket = io();

  _.templateSettings = {
      evaluate    : /\{%([\s\S]+?)%\}/g,
      interpolate : /\{\{(.+?)\}\}/g
  };

  $('form').submit(function() {
    let supportComment = $('#supportComment').val();

    socket.emit('supportResponse', {

      userContext: {
        userName: "Support",
        channel: "web",
        userType: "support"
      },

      text: supportComment
    });
    $('#supportComment').val('');
    return false;

  });

  socket.on('tone', function(data) {
    console.log('tone received');

      item = buildMessageItem(data);

      $('#current-convo').append(item);
  });

  socket.on('tones', function(tones) {
    console.log('tones received');
    for(var i=0; i < tones.length; i++) {

      var tone = tones[i];
      var item = buildMessageItem(tone);

      $('#current-convo').prepend(item);
    }
  });


  function buildMessageItem(tone)
  {
      //Fallback to neutral if nothing exists (means old data coming from db or cache, or just bad data missing sentiment)
      if(!tone.sentiment)
        tone.sentiment = "neutral";
      else
        tone.sentiment = tone.sentiment.toLowerCase();

      if(tone.userName === "Support") {
        tone.userName = "You say";

        var agreeableCheck = false;

        if(tone.agreeable)
          agreeableCheck = true;

        item = _.template($('#supportMessageTemplate').html())({ agreeable: agreeableCheck, message: tone.userName + ": " + JSON.stringify(tone.text) + "(" + tone.channel + ")"});

      } 
      else {
        item = _.template($('#requestMessageTemplate').html())({ sentiment: tone.sentiment, message: tone.userName + ": " + JSON.stringify(tone.text) + "(" + tone.channel + ")"});

      }

      return item;
  }
</script>

<script type="text/template" id="requestMessageTemplate">
    <div class="container col-sm-12 request">
     <div class="container col-sm-3">
       <img src="/imgs/{{sentiment}}.png" height="40px">
     </div>
     <div class="container col-sm-6">
       <p>
         {{message}}
       </p>
     </div>
     <div class="container col-sm-3">
     </div>
    </div>
</script>


<script type="text/template" id="supportMessageTemplate">
    <div class="container col-sm-12 support">
     <div class="container col-sm-3">
     </div>
     <div class="container col-sm-6">
       <p>
         {{message}}
       </p>
     </div>
     <div class="container col-sm-3">
      {% if (agreeable) { %}
        <img src="/imgs/check.png" height="30px" style='display'>
      {% }  %}
     </div>
    </div>
</script>
