<% layout( 'layout' ) -%>

<!-- <ul id="messages"></ul> -->
<!-- <form action="">
  <input id="m" autocomplete="off" /><button>Send</button>
</form> -->

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <img src="/imgs/sensayLogo.png" id="sensay-logo" height="40px">
  </div>
</div>

<div class="container-fluid" id="main-container">
  <div class="container col-sm-9" id="convo-container">
    <div class="container col-sm-12">
      <header class="section-header">
        <h3 class="section-title">Current Conversation</h4>
      </header>
    </div>
    <div class="container col-sm-12">
      <div class="container col-sm-3"><p>Sentiment</p></div>
      <div class="container col-sm-9"><p>Transcript</p></div>
    </div>
    <ul class="container col-sm-12" id="current-convo">

    </ul>
    <form action="">
      <div class="container col-sm-12">
        <div class="container col-sm-10">
          <input id="supportComment" type="text" />
        </div>
        <div class="container col-sm-2">
          <button id="submitComment">Send</button>
        </div>
      </div>
    </form>
  </div>
  <div class="container col-sm-3">
    <div class="container col-sm-12" id="help-btn">
      <p>
        TEXT MANAGER FOR HELP
      </p>
    </div>
    <div class="container col-sm-12" id="overall-mood">
      <header class="section-header">
        <h4 class="section-title center-title">Conversation Mood</h4>
      </header>
      <div class="container col-sm-12" id="overall-mood-img">
        <p>N/A</p>
      </div>
      <div class="container col-sm-12 center-title" id="appease-btn">
        <p>
          APPEASE CUSTOMER
        </p>
      </div>
    </div>

    <div class="container col-sm-12" id="sponsors">
      <img src="/imgs/poweredby.png">
    </div>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

<script>
  var socket = io();

  _.templateSettings = {
      interpolate : /\{\{(.+?)\}\}/g
  };

  $('form').submit(function() {
    let supportComment = $('#supportComment').val();

    socket.emit('supportResponse', {

      userContext: {
        userName: "Support",
        channel: "web",
        userType: "support"
      },

      text: supportComment
    });
    $('#supportComment').val('');
    //$('#current-convo').append($('<li>').text(`You say: ${supportRequestMessage}`));
    return false;

  });
  // $('form').submit(function(){
  //   socket.emit('chat message', $('#m').val());
  //   $('#m').val('');
  //   return false;
  // });
  // socket.on('chat message', function(msg) {
  //   console.log('chat received');
  //   $('#messages').append($('<li>').text(msg));
  // });
  socket.on('tone', function(data) {
    console.log('tone received');

      //Fallback to neutral if nothing exists (means old data coming from db or cache, or just bad data missing sentiment)
      if(!data.sentiment)
        data.sentiment = "neutral";
      else
        data.sentiment = data.sentiment.toLowerCase();

      if(data.userName === "Support")
        data.userName = "You say"

    var item = _.template($('#messageTemplate').html())({ sentiment: data.sentiment, message: data.userName + ": " + JSON.stringify(data.text) + "(" + data.channel + ")"});


  $('#current-convo').append(item);
    // $('#current-convo').append($('<li>').text(data.userName + ":" + JSON.stringify(data.text) + "(" + data.channel + ")"));
    //$('#current-convo').append($('<li>').text(data.userName + ":" + JSON.stringify(data.text) + "(" + data.channel + ")"));
    // $('#messages').append($('<li>').text(JSON.stringify(data.result)));
  });

  socket.on('tones', function(tones) {
    console.log('tones received');
    for(var i=0; i < tones.length; i++) {
      var tone = tones[i];

      //Fallback to neutral if nothing exists (means old data coming from db or cache)
      if(!tone.sentiment)
        tone.sentiment = "neutral";
      else
        tone.sentiment = tone.sentiment.toLowerCase();

      if(tone.userName === "Support")
        tone.userName = "You say";

      var item = _.template($('#messageTemplate').html())({ sentiment: tone.sentiment, message: tone.userName + ": " + JSON.stringify(tone.text) + "(" + tone.channel + ")"});
      $('#current-convo').prepend(item);
      //$('#current-convo').prepend($('<li>').text(tone.userName + ":" + JSON.stringify(tone.text)));
      // $('#messages').append($('<li>').text(JSON.stringify(tone.result)));
    }
  });

</script>

<script type="text/template" id="messageTemplate">
    <div class="container col-sm-12">
     <div class="container col-sm-3">
       <img src="/imgs/{{sentiment}}.png" height="40px">
     </div>
     <div class="container col-sm-9">
       <p>
         {{message}}
       </p>
     </div>
    </div>
</script>
