body {
  padding: 100px;
  font-family: 'Source Sans Pro', sans-serif !important;
  background-image: url("/imgs/weather.png");
  background-repeat: repeat;
}

a {
  color: #00B7FF;
}

.center-title {
	text-align: center;
}

#sensay-logo {
	margin-top: 4px;
}
.section-title {

font-size: 20px;
color: #3fb34f;

}
#convo-container {
	border-style: solid;
	border-color: #888888;
	border-width: 5px;
	min-height: 500px;
	background-color: #FFFFFF;

}

#convo-title {
	border-bottom: solid #888888;
}

#convo-title header {
	padding-bottom: 10px;
}

#current-convo {
	margin-top: 15px;
	min-height: 600px;
}

#supportComment {
	width: 100%;
}

#submitComment {
	padding: 25px;
	background-color: #3fb34f;
	border: none;
}

#replyBox {
	margin-bottom: 15px;
}

#help-btn {
	background-color: #3fb34f;
	text-align: center;
	min-height: 60px;
	margin-bottom: 10px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #ffffff;
	font-size: 10px;
}

#help-btn p {
	padding-top: 20px;
	width: 100%;
	font-size: 1.5em;
}

#overall-mood {
	background-color: #FFFFFF;
	opacity: 70%;
	font-weight: 300;
}

#overall-mood-img {
	min-height: 100px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 2em;
}

#overall-mood-img p {
	margin: 30px;
}

#appease-btn {
	margin-bottom: 10px;
	background-color: white;
	border-style: solid;
	border-color: #3fb43f;
	color: #3fb43f;
	
} 

#appease-btn p {
	margin-top: 10px;
	margin-bottom: 10px;
}

#sponsors {
	margin-top: 10px;
	background-color: #FFFFFF;
	opacity: 70%;
	height: 200px;
	font-weight: 300;
}

#sponsors img {
	max-height: 200px;
}

* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
.consumer form { padding: 3px; position: fixed; bottom: 0; width: 100%; }
.consumer form .message { border: 0; padding: 10px; width: 75%; margin-right: .5%; }
.consumer form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
